/*placeholder
Orange = #fd5415
Blue = #1595fd */
body{
    background-color: #011a2e ;

}

p{
    font-size: xx-large;
}

.header{
    font-size:900%;
    color:white;
    text-shadow: 5px 5px #011a2e;
    position:absolute;
    left:300px;
    top: 115px;
    border: 3px solid, red;
    
}

.bars{

}
.orange-bar{
    position: absolute;
    z-index: -1;
    background: #fd5415;
    border-style: outset;
    width: 87%;
    left: 0px;
    top: 200px;
    height: 100px;
}

.blue-bar{
    position: absolute;
    z-index: -2;
    background: #1595fd;
    border-style: outset;
    width: 89%;
    left: 10px;
    top: 290px;
    height: 100px;
}

.image{

}

#arms_folded{
    position: absolute;
    top: 150px;
    right:0;
}

#coming-soon{
    position: relative;
}

/*Styles for the NFL game selector page*/
.games{
    background-image: linear-gradient(to right, brown, green);
}
.games-header{
    color:white;

}
.games-p{
    color:white;
}